@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Project 4</h1>
    <h3>By Luis Casarrubios Elez</h3>
    <p><a asp-page="/MortgageCalc">Mortgage Calculator</a></p>
</div>
